{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'authentication/css/signup.css' %}">
</head>
<div class="container">
    <div class="signup-form">
        <h2>Signup</h2>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">S’inscrire</button>
        </form>
    </div>
</div>

{% endblock content %}