.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    margin: 30px;
}

body > section > div > div > form > button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}