.search-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body > section > div > div.search-user > form > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
#id_search_query {
    width: 20vw;
    margin: 2vw;
}

.following{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.followed-by{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-button button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    white-space: nowrap; /* Add this to prevent button text from wrapping */
}


.search-button button:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}
.user-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: #8D99AE solid 1px;
    background: #EDF2F4;
    padding: 10px;
    border-radius: 20px;
    margin: 2vh;
}
.user-item p{
    margin: 0;
}
