.user {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
}

.user-button > button {
    margin: 0 0.5vw;
}

.feed {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.followed-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

.discover-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}


.ticket {

    display: flex;

    border: #8D99AE solid 1px;
    width: 60%;
    margin: 2vh;
    justify-content: flex-start;
    background: #EDF2F4;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.ticket .left-column img {
    max-width: 12vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.ticket .right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.right-column > h3 > a {
    /* Réinitialisation des styles */
    text-decoration: none;
    color: inherit;
}

.review-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.user-button button,
.review-button button {
    background-color: #D90429;
    color: white;
    border: 1px solid #D90429;
    padding: 10px 20px;
    border-radius: 5px;
    white-space: nowrap; /* Add this to prevent button text from wrapping */
}


.user-button button:hover,
.review-button button:hover {
    background-color: white;
    color: #D90429;
    border: 1px solid #D90429;
}