{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'appreview/css/followers.css' %}">
</head>
<section class="follower">
    <div class="container">
        <div class="search-user">
            <h2>Search user</h2>
            <form method="post" class="search-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Rechercher</button>
            </form>
        </div>
        <div class="following">
            <h2>Users you follow</h2>
            {% for user in users_following %}
            <div class="user-item">
                <p>{{ user.followed_user|title }}</p>
                <a href="{% url 'appreview:unfollow' user.id %}">Désabonner</a><br/>
            </div>
            {% endfor %}
        </div>
        <div class="followed-by">
            <h2>Users following you</h2>
            {% for user in users_followed_by %}
            <div>
                <p>{{ user.user|title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}
