{% extends 'base.html' %}
{% block content %}
    <h2>Tickets des utilisateurs que vous suivez</h2>
    <!-- Affichage des tickets des utilisateurs suivis -->
    {% for ticket in followed_tickets %}
        <!-- Afficher les détails du ticket ici -->
        <h3>{{ ticket.title }}</h3>
        <p>{{ ticket.description }}</p>
    {% endfor %}
    <h2>À découvrir</h2>
    <!-- Affichage des tickets à découvrir -->
    {% for ticket in discover_tickets %}
        <!-- Afficher les détails du ticket ici -->
        <h3><a href="{% url 'appreview:view_ticket' ticket.id %}">{{ ticket.title }}</a></h3>
        <p>{{ ticket.description }}</p>
        <a href="{% url 'appreview:view_ticket' ticket.id %}"><img src="{{ ticket.photo.image.url }}" alt="{{ ticket.photo.title }}"></a>
    {% endfor %}


    <h2>Nouvel article</h2>
    <form method="post" enctype="multipart/form-data">
        {{ photo_form.as_p }}
        {{ ticket_form.as_p }}
        {% csrf_token %}
        <button type="submit" >Publier</button>
    </form>

{% endblock content %}