{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'appreview/css/home.css' %}">
</head>
<div class="user">
    <div class="user-button">
    <a href="{% url 'appreview:my_posts' %}">
        <button>My Profile</button>
    </a>
    </div>
    <div class="user-button">
    <a href="{% url 'appreview:my_posts' %}">
        <button>My Posts</button>
    </a>
    </div>
</div>
<div class="feed">
    <h2>Tickets from users you follow</h2>
    <div class="followed-users">

        {% for ticket in followed_tickets %}
        <div class="ticket">
            <div class="left-column">
                <a href="{% url 'appreview:view_ticket' ticket.id %}"><img src="{{ ticket.photo.image.url }}"
                                                                           alt="{{ ticket.photo.title }}"></a>
            </div>
            <div class="right-column">
                <h3><a href="{% url 'appreview:view_ticket' ticket.id %}">{{ ticket.title }}</a></h3>
                <p>{{ ticket.content }}</p>
                <p>By {{ ticket.author }}</p>
                <p>Posted on {{ ticket.created_on }}</p>
            </div>
            <div class="review-button">
            <a href="{% url 'appreview:view_ticket' ticket.id %}">
                Post a review
            </a>
            </div>
        </div>
        {% endfor %}

    </div>


</div>

<h2>Explore new tickets</h2>
<div class="discover-users">


    {% for ticket in discover_tickets %}

    <div class="ticket">
        <div class="left-column">
            <a href="{% url 'appreview:view_ticket' ticket.id %}"><img src="{{ ticket.photo.image.url }}"
                                                                       alt="{{ ticket.photo.title }}"></a>
        </div>
        <div class="right-column">
            <h3><a href="{% url 'appreview:view_ticket' ticket.id %}">{{ ticket.title }}</a></h3>
            <p>{{ ticket.content }}</p>
            <p>By {{ ticket.author }}</p>
            <p>Posted on {{ ticket.created_on }}</p>
        </div>
        <div class="review-button">
            <a href="{% url 'appreview:view_ticket' ticket.id %}">
                Post a review
            </a>
        </div>


    </div>
    {% endfor %}
</div>

{% endblock content %}