{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'appreview/css/view_ticket.css' %}">
</head>
<section class="post">
<div class="container">
    <div class="ticket">
        <div class="ticket-author-time">
            <p>Ticket created by {{ ticket.author }} <br> on {{ ticket.created_on }}</p>
        </div>
        <div class="product-infos">
            <div class="product-image">
                <img src="{{ ticket.photo.image.url }}">
            </div>
            <div class="product-title-desc">
                <h2>{{ ticket.title }}</h2>
                <p>{{ ticket.content }}</p>
            </div>
        </div>
        <p>{{ ticket.photo.caption }}</p>
    </div>
</div>

<div class="container">
    <h3>Reviews</h3>
    {% for review in reviews %}
    <div class="comment">
        <p class="comment-name">{{ review.name }}</p>
        <p class="comment-body">{{ review.body }}</p>
        <p class="comment-rating">Rated : {{ review.rating }}/5</p>
        <p class="comment-user-time">Par {{ review.user }} le {{ review.created_on }}</p>

        {% if review.user == request.user %}
        <form action="{% url 'appreview:delete_review' review.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="delete-button">Delete</button>
        </form>
        {% endif %}
    </div>
    {% empty %}
    <p>No comment yet, be the first to give your opinion!</p>
    {% endfor %}
</div>

<div class="container">
    <h3>Give us your opinion !</h3>
    <div class="review-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-right">
                <button type="submit" class="action-button">Ajouter</button>
            </div>
        </form>
    </div>
</div>










</section>
{% endblock content %}
