{% extends 'base.html' %}

{% block content %}
    <h2>{{ ticket.title }}</h2>
    <img src="{{ ticket.photo.image.url }}">
    <p>{{ ticket.photo.caption }}</p>
    <p>{{ ticket.content }}</p>
    <p>{{ ticket.author }}</p>
    <h3>Commentaires</h3>
    {% for review in reviews %}
        <p>{{ review.name }}</p>
        <p>{{ review.body }}</p>
        <p>Note : {{ review.rating }}/5</p>
        <p>Par {{ review.user }} le {{ review.created_on }}</p>

        <!-- Affiche le bouton de suppression uniquement si l'utilisateur est l'auteur -->
        {% if review.user == request.user %}
            <form action="{% url 'appreview:delete_review' review.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
            </form>
        {% endif %}
    {% empty %}
        <p>Aucun commentaire pour le moment.</p>
    {% endfor %}

    <h3>Ajouter un commentaire</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="id_rating">Note :</label>
        <select name="rating" id="id_rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="submit">Ajouter</button>
    </form>
{% endblock content %}
